@media (max-width:1450px)  {
    .header-right {
        width: 64%;
        }
        .service-item {
            width: 21%;
        }
}
@media (max-width:1300px)  {
    .header-right {
    width: 64%;
    }
    .service-item {
    width: 20%;
   }
   .right {
    width: 46%;
   }
   .right h3 {
    font-size: 18px;
    margin-bottom: 7px;
    }
    .social-menu {
        margin-top: 100px;
        margin-right: 334px;
    }
}
@media (max-width:1160px) {
    .header-left h1 {
        font-size: 25px;
    }
    .banner h1 {
        font-size: 42px;
        text-align: center;
    }
    .banner {
        padding: 180px 0px;
    }
    .service-item h3 {
        font-size: 18px;
    }
    .right p {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .contact-item {
        width: 18%;
    }
    .contact-right {
        margin-right: 60px;
    }
    .fixed-width {
        width: 1027px;
    }
    .social-menu {
        
        margin: auto;
        margin-top: 100px;
    }
    .contact-item p {
        color: rgb(155, 137, 117);
        font-size: 17px;
    }

}
@media (max-width:1120px)  {
    .social-menu {
        margin-right: 280px;
    }
    .contact-item p {
        color: rgb(155, 137, 117);
        font-size: 17px;
    }
}
@media (max-width:1110px)  {
    .fixed-width {
        width: 996px;
    }
}
@media (max-width:990px) {
    .header-left {
        width: 31%;
    }
    .header-right {
        width: 68%;
    }
    .service-item {
        width: 45%;
    }
    .left {
        width: 38%;
    }
    .left {
        width: 39%;
        margin-left: 20px;
    }
    .right {
        width: 44%;
    }
    .fixed-width {
        width: 980px;
    }
    .contact-item p {
        font-size: 17px;
    }
    .contact-right p {
        font-size: 17px;
    }
    .social-menu {
        margin-right: 40px;
    }
    .contact-item p {
        font-size: 16px;
    }
}
@media (max-width:980px)  {
    .fixed-width {
        width: 896px;
    }
    .about p {
        font-size: 17px;
    
    }
}
@media (max-width:890px)  {
    .fixed-width {
        width: 531px;
    }
    .header-right ul li a {
        font-size: 16px;
        margin: 0px 4px;
    }
    .service-item {
        width: 90%;
    }
    .left img {
        width: 484px;
        margin-top: -67px;
        margin-left: 193px;
    }
    .right {
        width: 64%;
        margin-top: 20px;
    }
    .about p {
        font-size: 15px;
        width: 342px;
        margin: auto;
    }
    .contact .text {
        float: left;
    }
    .fixed-width {
        width: 890px;
    }


}
@media (max-width:880px)  {
    .fixed-width {
        width: 880px;
    }
}
@media (max-width:800px) {
    .fixed-width {
        width: 100%;
    }
    .contact .text h2 {
        margin-right: 166px;
    }
    .contact .text p {
        margin-right: 114px;
    }
    .contact-item {
        width: 18%;
        margin-left: 84px;
    }
    .banner {
        padding: 136px 0px;
    }
}
@media (max-width:620px)  {
    .fixed-width {
        width: 614px;
    }
    .contact-item {
        width: 0%;
    }
}
@media (max-width:585px) {
    .fixed-width {
        width: 100%;
    }
    .contact-item p {
        margin-left: -73px;
    }
    .contact-item a {
        margin-left: -32px;
    }
    .header-right ul li a {
        font-size: 12px;
    }
    .contact .text h2 {
        margin-right: 172px;
    }
    .contact .text p {
        margin-left: -259px;
    }
    .contact-item {
        margin-left: 144px;
    }
}
@media (max-width:560px) {
    .fixed-width {
        width: 560px;
    }
}
@media (max-width:500px) {
    .fixed-width {
        width: 500px;
    }
    .banner {
        padding: 58px 0px;
    }
}
@media (max-width:450px) {
    .fixed-width {
        width: 450px;
    }
    .header-left h1 {
        font-size: 17px;
    }
    .header-right ul li a {
        font-size: 10px;
    }
    .contact-item {
        margin-left: 123px;
    }
    .header-right ul li a {
        font-size: 8px;
    }
}
@media (max-width:400px) {
    .fixed-width {
        width: 400px;
    }
    .header-left h1 {
        font-size: 13px;
    }
    .contact-item {
        margin-left: 111px;
    }
    .social-menu ul li {
        padding: 14px;  
    }
}
@media (max-width:300px) {
    .fixed-width {
        width: 300px;
    }
}